.table-wrap {
    overflow-x: auto;
    position: relative;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font: 12px/16px 'Noto Sans';
    box-sizing: border-box;
}
.table thead {
    top: 0;
    z-index: 50;
}
.table .table__thead-sortable,
.table__linked .table__thead-sortable {
    display: inline-block;
    cursor: pointer;
    padding-right: 16px;
    background: url(../../img/blocks/table/table__thead-sortable.svg) 100% 50% no-repeat;
    line-height: 24px;
}
.table th,
.table td {
    font-weight: normal;
    padding: 12px 16px;
    font: 13px/16px 'Noto Sans';
    color: #171d25;
}
.table th {
    background-color: #e5ecef;
    padding: 8px 16px;
    text-align: left;
}
.table td {
    background-color: #fff;
}
.table tbody tr {
    border-bottom: 1px solid #dbe4e9;
}
.table-wrap_paging_no .table tbody tr:last-child {
    border-bottom: 0;
}

.table__btns {
    display: flex;
    float: left;
}

.table__linked {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font: 12px/16px 'Noto Sans';
    box-sizing: border-box;
    display: table;
}
.table__linked .table__linked-row-head,
.table__linked .table__linked-row {
    display: table-row;
    text-decoration: none;
    transition: all 0.1s ease;
    border-bottom: 1px solid #dbe4e9;
}
.table__linked .table__linked-row {
    background-color: #fff;
}
.table__linked .table__linked-col {
    display: table-cell;
    padding: 12px 16px;
    font: 12px/16px 'Noto Sans';
    color: #171d25;
}
.table__linked .table__linked-row-head .table__linked-col {
    background-color: #e5ecef;
    padding: 8px 16px;
    text-align: left;
}
.table__linked .table__linked-row:hover {
    display: table-row;
    text-decoration: none;
    transition: all 0.1s ease;
    background-color: #fafafa;
}
@media all and (max-width: 769px) {
    .table__btns,
    .table__btns a {
        display: block;
    }
    .table__btns a {
        margin-bottom: 8px;
    }
}